.DS_Store
node_modules
.next
out
dist
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.zip

# Keep local build artifacts out of git
sampleportal/.next
sampleportal/node_modules
kpi-demo-v1/.next
kpi-demo-v1/node_modules
